.green{
    /* border: 5px solid red; */
    /* margin:5px; */
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-items{
    align-items: center;
}
.align-content{
    align-content: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.bg-grey{
    background-color: #444040;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 10px;
}
.p-1{
    padding: 10px;
}